body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    text-align: center;
    font-size: 16px;
    color: aquamarine;
}

.container video,
.container img {
    margin: 0 auto;
}

.bottom div {
    flex-direction: column-reverse;
}

footer p {
    text-align: right;
    color: white;
}